@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(52 116 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 115px;
}


.logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    color: white;
    margin-left: 35px;

}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.first-section {
    display: flex;
    background-color: rgb(33 81 204);
    padding: 13px 115px 115px 129px;
}

.headline {
    font-size: 38px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.description {

    color: white;
    font-family: 'Roboto', sans-serif;
}

.ITWorx-logo {
    margin-top: 38px;
    padding-left: 10px;
}

.second-section {
    background-color: rgb(161 195 255);
    height: 400px;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 113px;
}

.card {

    width: 25%;
    justify-content: center;
    background-color: rgb(33, 81, 204);
    padding: 26px;
    margin: 13px;
    border-radius: 4%;

}

.title {
    font-size: 25px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}


.mini-description {
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}